
/* Style for circle on image */
.circle-text {
    width: 150px;
    height: 150px;
    background-color: rgba(43, 48, 53, 0.4);
    border-radius: 50%;
    position: absolute;
    bottom: 90px;
    /* Position from the bottom */
    left: 50%;
    /* Center horizontally */
    transform: translateX(-50%);
    /* Center horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-text p {
    color: #fff;
	text-align: center;
    font-size: 20px;
}

.font-weight-light {
    color: bisque;
}

/* Background color of container */
body {
    background-color: rgb(34, 41, 41);
}

@media (max-width: 767px) {
		.carousel-inner .carousel-item > div {
			display: none;
		}
		.carousel-inner .carousel-item > div:first-child {
			display: block;
		}
	}

	.carousel-inner .carousel-item.active,
	.carousel-inner .carousel-item-next,
	.carousel-inner .carousel-item-prev {
		display: flex;
	}

	/* medium and up screens */
	@media (min-width: 768px) {

		.carousel-inner .carousel-item-end.active,
		.carousel-inner .carousel-item-next {
			transform: translateX(25%);
		}

		.carousel-inner .carousel-item-start.active, 
		.carousel-inner .carousel-item-prev {
			transform: translateX(-25%);
		}
	}

	.carousel-inner .carousel-item-end,
	.carousel-inner .carousel-item-start { 
		transform: translateX(0);
	}